<p id="notice"><%= notice %></p>

<h1>Listing Networks</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Network</th>
      <th>Description</th>
      <th>Parent</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @networks.each do |network| %>
      <tr >
        <td><%= link_to network.address, edit_network_path(network) %></td>
        <td><%= network.description %></td>
        <td><%= network.parent.nil? ? "" : network.parent.address %></td>
        <td>
          <%= edit_icon edit_network_path(network) %>
          <%= remove_icon network, {method: :delete, data: { confirm: 'Are you sure?' }} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Network', new_network_path %>
